Repository LukeZurg22/Nullsector, pull requests merged in 2025-07, with the labels that each got.

#75 Fixed ATV Name & Description Absence
  Resources/Prototypes/_NF/Entities/Objects/Vehicles/vehicles.yml
Labels: S: Untriaged, size/XS, YML, No C#

#82 Add .45 Magnum to Techfabs
  Resources/Prototypes/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/Deprecated/mercenary_techfab.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/Deprecated/nfsd_techfab.yml
  Resources/Prototypes/_NF/Recipes/Lathes/security.yml
Labels: S: Untriaged, YML, No C#

#81 Mirror: DeltaV Little Guy Ops (DeltaV #3223) Propeller hat and silly overalls
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/_DV/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_DV/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/_DV/Clothing/Head/Hats/propellerhat.rsi/equipped-HELMET.png
  Resources/Textures/_DV/Clothing/Head/Hats/propellerhat.rsi/icon.png
  Resources/Textures/_DV/Clothing/Head/Hats/propellerhat.rsi/meta.json
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/littleguy_overalls.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/littleguy_overalls.rsi/icon.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/littleguy_overalls.rsi/meta.json
Labels: S: Untriaged, Sprites, YML, No C#, size/M

#83 Port of Dymere ship weapon
  Resources/Audio/_Mono/Weapons/Guns/Gunshots/laserfire.ogg
  Resources/Locale/en-US/_Mono/guidebook/guides.ftl
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Energy/launcher.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Energy/projectiles.yml
  Resources/Prototypes/_Mono/Guidebook/gunnery.yml
  Resources/ServerInfo/_Mono/Guidebook/Specifications/DYMERE.xml
  Resources/Textures/_Mono/Objects/ShuttleWeapons/dymere.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/dymere.rsi/space_artillery.png
  Resources/Textures/_Mono/Objects/SpaceArtillery/turbolaser_shot.rsi/meta.json
  Resources/Textures/_Mono/Objects/SpaceArtillery/turbolaser_shot.rsi/turbolaser-shot.png
Labels: S: Untriaged, Sprites, Docs, YML, No C#, FTL, Audio

#84 20250706 : Tuneups, Small Campaign-Centric Additions, Lore Tuning, Capital Thruster Fixes, Nullith POI Tuning, New Admin POI, Ports
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.Steps.cs
  Resources/Audio/Machines/airlock_close.ogg
  Resources/Audio/Machines/airlock_open.ogg
  Resources/Audio/Machines/attributions.yml
  Resources/Audio/Machines/boltsdown.ogg
  Resources/Audio/Machines/boltsup.ogg
  Resources/Locale/en-US/_NF/accent/caveman.ftl
  Resources/Locale/en-US/_NF/accent/goblin_accent.ftl
  Resources/Locale/en-US/_NF/adventure/adventure.ftl
  Resources/Locale/en-US/_NF/bluespace-events/events.ftl
  Resources/Locale/en-US/_NF/cargo/pirate-bounties.ftl
  Resources/Locale/en-US/_NF/holopad/holopad.ftl
  Resources/Locale/en-US/_NF/tips.ftl
  Resources/Locale/en-US/alert-levels/alert-levels.ftl
  Resources/Locale/en-US/credits/credits-window.ftl
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Locale/en-US/info/rules.ftl
  Resources/Maps/_Null/Outpost/lark.yml
  Resources/Maps/_Null/POI/lark_relay.yml
  Resources/Maps/_Null/POI/lodge.yml
  Resources/Maps/_Null/POI/mysterious.yml
  Resources/Prototypes/Entities/Structures/Lighting/strobe_lighting.yml
  Resources/Prototypes/Entities/Structures/Machines/fax_machine.yml
  Resources/Prototypes/Entities/Structures/Shuttles/thrusters.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Wallmount/signs.yml
  Resources/Prototypes/Theta/Shipevent/Structures/shields.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Vehicles/vehicles.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/capital_thrusters.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/forms_sr.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/misc.yml
  Resources/Prototypes/_NF/Entities/Objects/Storage/pouches.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/fax_machine.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/holopad.yml
  Resources/Prototypes/_Null/Entities/Objects/Weapons/mauser.yml
  Resources/Prototypes/_Null/Entities/Structures/invincible_blast_door.yml
  Resources/Prototypes/_Null/Entities/Structures/radar_dish.yml
  Resources/Prototypes/_Null/PointsOfInterest/lark_relay.yml
  Resources/Textures/Structures/Walls/mining_diagonal.rsi/state0.png
  Resources/Textures/Structures/Walls/mining_diagonal.rsi/state1.png
  Resources/Textures/_Null/Structures/radar_dish.rsi/base.png
  Resources/Textures/_Null/Structures/radar_dish.rsi/glow.png
  Resources/Textures/_Null/Structures/radar_dish.rsi/meta.json
Labels: S: Untriaged, size/XL, Sprites, C#, YML, FTL, Audio

#90 Fixed Pet Carrier Tag and Vin Pilot Organization, Added Barrier Wreck Parasite as Pet
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Objects/Misc/pet_carrier.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_argocyte.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/tags.yml
Labels: S: Untriaged, YML, No C#, size/M

#96 Tuned Mauser: SFX, Slower, Added to LiberationVend
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/_Null/Entities/Objects/Weapons/mauser.yml
Labels: S: Untriaged, YML, No C#, size/S

#100 Neu21 20250719 Hotfix
  Content.Client/Light/AmbientOcclusionOverlay.cs
  Resources/Maps/_Null/POI/lodge.yml
  Resources/Maps/_Null/POI/medical.yml
  Resources/Prototypes/_Null/Industrial/Recipes/Construction/Graphs/campfire.yml
  Resources/Prototypes/_Null/Industrial/Recipes/Construction/campfire.yml
  Resources/Prototypes/_Null/Industrial/Structures/campfire.yml
  Resources/Prototypes/_Null/Shipyard/Scrap/montressor.yml
  Resources/Prototypes/_Null/Shipyard/Scrap/nugget.yml
  Resources/Prototypes/tags.yml
  Resources/null_migration.yml
Labels: S: Untriaged, C#, YML, size/S

#115 Removed NFSD and Space Law Book from the PDAs, Bookshelves, Crates & Mail
  Resources/Prototypes/Catalog/Fills/Books/bookshelf.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/lawdrobe.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/nfsdtec.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_NF/Mail/mail.yml
Labels: YML, No C#

#116 Port Draconic Wings
  Resources/Locale/en-US/markings/reptilian.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/body_dragonwings.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/body_dragonwings_membrane.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/meta.json
Labels: Sprites, YML, No C#, FTL, size/S

#117 20250729 : Craftable Stairs, New Religion Things, Better Repair Relay, Contraband Value Deduction, Playtime Requirement Affirmation, Fixes, Loadout Prep
  Content.Server/Administration/Logs/AdminLogManager.cs
  Content.Server/Construction/ConstructionSystem.Graph.cs
  Resources/Locale/en-US/_Null/companies/companies.ftl
  Resources/Locale/en-US/_Null/job/loadout-groups.ftl
  Resources/Maps/_Null/Event/repair_relay.yml
  Resources/Maps/_Null/Shuttles/Scrap/sawdust.yml
  Resources/Maps/_Null/Shuttles/Service/arachnid.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/shuttle.yml
  Resources/Prototypes/Entities/Structures/stairs.yml
  Resources/Prototypes/Loadouts/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/Stacks/Materials/materials.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/syndicate.yml
  Resources/Prototypes/_NF/Entities/Structures/Specific/TradingCrates/crates.yml
  Resources/Prototypes/_Null/Entities/Objects/Misc/Flags.yml
  Resources/Prototypes/_Null/Entities/Objects/Specific/religion_books.yml
  Resources/Prototypes/_Null/Entities/Structures/Machines/emancipation_grid.yml
  Resources/Prototypes/_Null/Entities/Structures/Wallmounts/Signs/flags.yml
  Resources/Prototypes/_Null/Entities/Structures/campfire.yml
  Resources/Prototypes/_Null/Entities/Structures/stairs_lattice.yml
  Resources/Prototypes/_Null/Materials/ash_stacks.yml
  Resources/Prototypes/_Null/Materials/brick.yml
  Resources/Prototypes/_Null/Materials/brick_stacks.yml
  Resources/Prototypes/_Null/Reagents/concrete.yml
  Resources/Prototypes/_Null/Recipes/Construction/Graphs/campfire.yml
  Resources/Prototypes/_Null/Recipes/Construction/Graphs/stairs.yml
  Resources/Prototypes/_Null/Recipes/Construction/campfire.yml
  Resources/Prototypes/_Null/Recipes/Construction/stair_lattice.yml
  Resources/Prototypes/_Null/Recipes/concrete.yml
  Resources/Prototypes/_Null/Roles/Jobs/lodge_supervisor.yml
  Resources/Prototypes/_Null/Roles/Jobs/militia_coordinator.yml
  Resources/Prototypes/_Null/Roles/Loadouts/Entries/militia_coordinator.yml
  Resources/Prototypes/_Null/Roles/Loadouts/Groups/militia_coordinator.yml
  Resources/Prototypes/_Null/Roles/Loadouts/Jobs/pda.yml
  Resources/Prototypes/_Null/Roles/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Null/Shipyard/Scrap/nugget.yml
  Resources/Prototypes/_Null/Shipyard/Scrap/sawdust.yml
  Resources/Prototypes/_Null/companies.yml
  Resources/Textures/Structures/stairs.rsi/meta.json
  Resources/Textures/Structures/stairs.rsi/stairs_lattice.png
  Resources/Textures/_Null/Companies/nexwealth.png
Labels: S: Untriaged, size/L, Sprites, C#, YML, FTL
