Repository LukeZurg22/Nullsector, pull requests merged in 2025-08, with the labels that each got.

#118 Added NexWealth-Themed PDA, Poster, Rubber Stamp and Pen
  Resources/Locale/en-US/paper/stamp-component.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/_Null/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Null/Entities/Objects/Misc/nexwealth_pen.yml
  Resources/Prototypes/_Null/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/_Null/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-nexwealth.png
  Resources/Textures/_Null/Objects/Devices/pda.rsi/id_overlay.png
  Resources/Textures/_Null/Objects/Devices/pda.rsi/light_overlay.png
  Resources/Textures/_Null/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/_Null/Objects/Devices/pda.rsi/pda-nexwealth.png
  Resources/Textures/_Null/Objects/Devices/pda.rsi/pda.png
  Resources/Textures/_Null/Objects/Misc/pens.rsi/meta.json
  Resources/Textures/_Null/Objects/Misc/pens.rsi/nexwealth-pen.png
  Resources/Textures/_Null/Objects/Misc/pens.rsi/pen-inhand-left.png
  Resources/Textures/_Null/Objects/Misc/pens.rsi/pen-inhand-right.png
  Resources/Textures/_Null/Objects/Misc/stamps.rsi/meta.json
  Resources/Textures/_Null/Objects/Misc/stamps.rsi/stamp-nexwealth.png
  Resources/Textures/_Null/Structures/Wallmounts/signs.rsi/meta.json
  Resources/Textures/_Null/Structures/Wallmounts/signs.rsi/nexwealth_sign1.png
Labels: S: Untriaged, Sprites, YML, No C#, FTL

#121 Added admin_test_zone.yml Back Into The Game
  Content.Server/Administration/Systems/AdminTestArenaSystem.cs
  Resources/Maps/_Null/Test/admin_test_zone.yml
Labels: S: Untriaged, C#, YML

#133 20250811 : Jetpack & ATV Fixes, Emaggable ATVs
  Content.Client/Buckle/BuckleSystem.cs
  Content.Client/_Crescent/ShipShields/ShipShieldOverlay.cs
  Content.Client/_NF/Vehicles/VehicleSystem.cs
  Content.Server/Administration/BanPanelEui.cs
  Content.Server/Physics/Controllers/MoverController.cs
  Content.Server/Rotatable/RotatableSystem.cs
  Content.Server/Singularity/EntitySystems/EmitterSystem.cs
  Content.Server/Singularity/EntitySystems/RadiationCollectorSystem.cs
  Content.Server/Stunnable/Systems/StunbatonSystem.cs
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraRouterSystem.cs
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraSystem.cs
  Content.Server/_Goobstation/Vehicles/VehicleSystem.cs
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
  Content.Shared/Buckle/SharedBuckleSystem.Interaction.cs
  Content.Shared/Buckle/SharedBuckleSystem.Strap.cs
  Content.Shared/Lock/LockSystem.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
  Content.Shared/Stunnable/SharedStunbatonSystem.cs
  Content.Shared/Tools/Systems/SharedToolSystem.Welder.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.ChamberMagazine.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Interactions.cs
  Content.Shared/_Goobstation/Vehicles/SharedVehicleSystem.cs
  Resources/Locale/en-US/datasets/names/atv.ftl
  Resources/Prototypes/Datasets/Names/atv.yml
  Resources/Prototypes/Entities/Objects/Tools/jetpacks.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/jetpacks.yml
  Resources/Prototypes/_NF/Entities/Objects/Vehicles/vehicles.yml
  Resources/Textures/Objects/Tanks/Jetpacks/black.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Tanks/Jetpacks/black.rsi/meta.json
  Resources/Textures/Objects/Tanks/Jetpacks/black.rsi/on-equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Tanks/Jetpacks/blue.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Tanks/Jetpacks/blue.rsi/meta.json
  Resources/Textures/Objects/Tanks/Jetpacks/blue.rsi/on-equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Tanks/Jetpacks/security.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Tanks/Jetpacks/security.rsi/meta.json
  Resources/Textures/Objects/Tanks/Jetpacks/security.rsi/on-equipped-SUITSTORAGE.png
  Resources/Textures/_DV/Objects/Tanks/Jetpacks/black.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DV/Objects/Tanks/Jetpacks/black.rsi/icon-on.png
  Resources/Textures/_DV/Objects/Tanks/Jetpacks/black.rsi/icon.png
  Resources/Textures/_DV/Objects/Tanks/Jetpacks/black.rsi/inhand-left.png
  Resources/Textures/_DV/Objects/Tanks/Jetpacks/black.rsi/inhand-right.png
  Resources/Textures/_DV/Objects/Tanks/Jetpacks/black.rsi/meta.json
  Resources/Textures/_DV/Objects/Tanks/Jetpacks/black.rsi/on-equipped-SUITSTORAGE.png
  Resources/Textures/_DV/Objects/Tanks/Jetpacks/blue.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DV/Objects/Tanks/Jetpacks/blue.rsi/icon-on.png
  Resources/Textures/_DV/Objects/Tanks/Jetpacks/blue.rsi/icon.png
  Resources/Textures/_DV/Objects/Tanks/Jetpacks/blue.rsi/inhand-left.png
  Resources/Textures/_DV/Objects/Tanks/Jetpacks/blue.rsi/inhand-right.png
  Resources/Textures/_DV/Objects/Tanks/Jetpacks/blue.rsi/meta.json
  Resources/Textures/_DV/Objects/Tanks/Jetpacks/blue.rsi/on-equipped-SUITSTORAGE.png
  Resources/Textures/_DV/Objects/Tanks/Jetpacks/security.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DV/Objects/Tanks/Jetpacks/security.rsi/icon-on.png
  Resources/Textures/_DV/Objects/Tanks/Jetpacks/security.rsi/icon.png
  Resources/Textures/_DV/Objects/Tanks/Jetpacks/security.rsi/inhand-left.png
  Resources/Textures/_DV/Objects/Tanks/Jetpacks/security.rsi/inhand-right.png
  Resources/Textures/_DV/Objects/Tanks/Jetpacks/security.rsi/meta.json
  Resources/Textures/_DV/Objects/Tanks/Jetpacks/security.rsi/on-equipped-SUITSTORAGE.png
Labels: Sprites, C#, YML, FTL, size/M

#137 20250818 : Fixed Artifact Prices, Minor Additions
  Content.Shared/Xenoarchaeology/Artifact/Components/XenoArtifactComponent.cs
  Resources/Audio/_Null/Meme/attributions.yml
  Resources/Audio/_Null/Meme/callout_mesothelioma.ogg
  Resources/Audio/_Null/Meme/callout_small_vessels.ogg
  Resources/Audio/_Null/Meme/callout_space_trash.ogg
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/item_xenoartifacts.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/structure_xenoartifacts.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/xenoartifacts.yml
  Resources/Textures/Objects/Specific/Xenoarchaeology/xeno_artifacts.rsi/ano37.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/xeno_artifacts.rsi/ano37_on.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/xeno_artifacts.rsi/meta.json
Labels: S: Untriaged, Sprites, C#, YML, Audio
