Repository LukeZurg22/Nullsector, pull requests merged in 2025-05, with the labels that each got.

#3 Banners & Changelog
  Resources/Changelog/Monolith.yml
  Resources/Changelog/Null Sector.yml
  Resources/Locale/en-US/_Mono/changelog/changelog-window.ftl
  Resources/Locale/en-US/_Null/changelog/changelog-window.ftl
  Resources/Prototypes/_Null/Entities/Structures/banner.yml
  Resources/Textures/_Null/Structures/banner.rsi/banner_armada.png
  Resources/Textures/_Null/Structures/banner.rsi/banner_vs_chaos_blue.png
  Resources/Textures/_Null/Structures/banner.rsi/banner_vs_envoy.png
  Resources/Textures/_Null/Structures/banner.rsi/banner_vs_rogue.png
  Resources/Textures/_Null/Structures/banner.rsi/banner_vs_unionj.png
  Resources/Textures/_Null/Structures/banner.rsi/meta.json
  Tools/actions_changelogs_since_last_run.py
Labels: S: Untriaged, size/L, Sprites, YML, No C#, FTL

#4 Armadan Subsidiary banners for -later-
  Resources/Textures/_Null/Structures/banner.rsi/banner_subsidiary_ANZAC.png
  Resources/Textures/_Null/Structures/banner.rsi/banner_subsidiary_GC.png
  Resources/Textures/_Null/Structures/banner.rsi/banner_subsidiary_blank.png
  Resources/Textures/_Null/Structures/banner.rsi/banner_subsidiary_blazingthorns.png
  Resources/Textures/_Null/Structures/banner.rsi/banner_subsidiary_nebulas.png
  Resources/Textures/_Null/Structures/banner.rsi/banner_subsidiary_ronaj.png
  Resources/Textures/_Null/Structures/banner.rsi/banner_subsidiary_vipergroup.png
Labels: S: Untriaged

#6 GetTileCount Command
  Content.Server/_Null/GetTileCountCommand.cs
  Resources/Prototypes/_Mono/Catalogs/Bounties/pirate_bounties.yml
  Resources/Textures/_Null/Logo/logo.png
Labels: S: Untriaged, C#, YML, size/S

#7 Logo Update
  Resources/Textures/_Null/Logo/logo.png
Labels: S: Untriaged, size/XS, No C#

#10 Web nests and web cocoons can now only be made by arachnids
  Resources/Prototypes/Recipes/Construction/web.yml
  Resources/Prototypes/Recipes/Crafting/web.yml
Labels: S: Untriaged, size/XS, YML, No C#

#12 Ruleset Fixup
  Resources/Locale/en-US/_Null/guidebook/guides.ftl
  Resources/Prototypes/_Null/Guidebook/rules.yml
  Resources/ServerInfo/Guidebook/Antagonist/Antagonists.xml
  Resources/ServerInfo/Guidebook/Antagonist/NuclearOperatives.xml
  Resources/ServerInfo/Guidebook/NewPlayer/NewPlayer.xml
  Resources/ServerInfo/Guidebook/SpaceStation14.xml
  Resources/ServerInfo/Intro.txt
  Resources/ServerInfo/Rules.txt
  Resources/ServerInfo/_NF/Guidebook/Bank.xml
  Resources/ServerInfo/_NF/Guidebook/Expeditions.xml
  Resources/ServerInfo/_NF/Guidebook/Hiring.xml
  Resources/ServerInfo/_NF/Guidebook/Medical/MedicalBounties.xml
  Resources/ServerInfo/_NF/Guidebook/NewFrontier14.xml
  Resources/ServerInfo/_NF/Guidebook/Piloting.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/FrontierRuleset.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/Zero_Tolerance.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard.xml
  Resources/ServerInfo/_Null/Guidebook/Bank.xml
  Resources/ServerInfo/_Null/Guidebook/CargoHauling.xml
  Resources/ServerInfo/_Null/Guidebook/Engineering/GasMining.xml
  Resources/ServerInfo/_Null/Guidebook/Expeditions.xml
  Resources/ServerInfo/_Null/Guidebook/Hiring.xml
  Resources/ServerInfo/_Null/Guidebook/Medical/Cryogenics.xml
  Resources/ServerInfo/_Null/Guidebook/Medical/Doc.xml
  Resources/ServerInfo/_Null/Guidebook/Medical/MedicalBounties.xml
  Resources/ServerInfo/_Null/Guidebook/Medical/MedicalRecipes.xml
  Resources/ServerInfo/_Null/Guidebook/Mobs/Diona.xml
  Resources/ServerInfo/_Null/Guidebook/Mobs/Dwarf.xml
  Resources/ServerInfo/_Null/Guidebook/Mobs/Goblin.xml
  Resources/ServerInfo/_Null/Guidebook/MobsHostileExpedition/aberrant_flesh.xml
  Resources/ServerInfo/_Null/Guidebook/MobsHostileExpedition/argocytes.xml
  Resources/ServerInfo/_Null/Guidebook/MobsHostileExpedition/blood_cultists.xml
  Resources/ServerInfo/_Null/Guidebook/MobsHostileExpedition/carps.xml
  Resources/ServerInfo/_Null/Guidebook/MobsHostileExpedition/dinosaurs.xml
  Resources/ServerInfo/_Null/Guidebook/MobsHostileExpedition/explorers.xml
  Resources/ServerInfo/_Null/Guidebook/MobsHostileExpedition/mercenaries.xml
  Resources/ServerInfo/_Null/Guidebook/MobsHostileExpedition/punk_gangers.xml
  Resources/ServerInfo/_Null/Guidebook/MobsHostileExpedition/rogue_silicons.xml
  Resources/ServerInfo/_Null/Guidebook/MobsHostileExpedition/syndicate.xml
  Resources/ServerInfo/_Null/Guidebook/MobsHostileExpedition/xenos.xml
  Resources/ServerInfo/_Null/Guidebook/NewFrontier14.xml
  Resources/ServerInfo/_Null/Guidebook/Piloting.xml
  Resources/ServerInfo/_Null/Guidebook/Rules/FrontierRuleset.xml
  Resources/ServerInfo/_Null/Guidebook/Rules/NullRuleAntagonism.xml
  Resources/ServerInfo/_Null/Guidebook/Rules/Zero_Tolerance.xml
  Resources/ServerInfo/_Null/Guidebook/Science/Xenoarchaeology.xml
  Resources/ServerInfo/_Null/Guidebook/Shipyard.xml
  Resources/ServerInfo/_Null/Guidebook/StartingGear.xml
Labels: S: Untriaged, Docs, YML, No C#, FTL, size/M

#13 Fixes & Tweaks
  Content.Client/Options/UI/Tabs/MiscTab.xaml
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Client/Popups/PopupSystem.cs
  Content.Client/Shuttles/UI/MapScreen.xaml.cs
  Content.Server/FTL/FTLDamageSystem.cs
  Content.Server/_Mono/Projectiles/TargetSeeking/TargetSeekingComponent.cs
  Content.Server/_Mono/Projectiles/TargetSeeking/TargetSeekingSystem.cs
  Content.Server/_White/Examine/ExaminableCharacterSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Weapons/Reflect/ReflectSystem.cs
  Resources/Locale/en-US/_white/escape-menu/options-menu.ftl
  Resources/Maps/_Null/Outpost/lark.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/pirate.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/security.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Mail/mail.yml
  Resources/Textures/_NF/Objects/Devices/pirate_uplink.rsi/icon-overlay.png
  Resources/Textures/_NF/Objects/Devices/pirate_uplink.rsi/icon.png
  Resources/Textures/_Null/Objects/Devices/communication.rsi/meta.json
  Resources/Textures/_Null/Objects/Devices/communication.rsi/old-radio-inhand-left.png
  Resources/Textures/_Null/Objects/Devices/communication.rsi/old-radio-inhand-right.png
  Resources/Textures/_Null/Objects/Devices/communication.rsi/old-radio.png
Labels: S: Untriaged, Sprites, UI, C#, YML, FTL, size/M

#15 Wrecks, Tweaks, Flags, MilDrobe, Loot
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Shared/_Mono/Company/CompanyPrototype.cs
  Resources/Locale/en-US/advertisements/vending/military.ftl
  Resources/Maps/_Mono/Shuttles/jug.yml
  Resources/Maps/_Null/Outpost/lark.yml
  Resources/Maps/_Null/POI/lodge.yml
  Resources/Maps/_Null/Shuttles/Expedition/foxhunt.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/tables_loot.yml
  Resources/Prototypes/Entities/Objects/Specific/Salvage/scanner.yml
  Resources/Prototypes/World/Biomes/basic.yml
  Resources/Prototypes/World/Biomes/failsafes.yml
  Resources/Prototypes/World/noise_channels.yml
  Resources/Prototypes/_Mono/companies.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Advertisements/mildrobe.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/mildrobe.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/yarrrdrobe.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_NF/World/Biomes/basic.yml
  Resources/Prototypes/_Null/Entities/Markers/Spawners/Random/cassettes.yml
  Resources/Prototypes/_Null/Entities/Objects/Fun/cassette.yml
  Resources/Prototypes/_Null/Shipyard/Expedition/foxhunt.yml
  Resources/Textures/_NF/Objects/Devices/pirate_uplink.rsi/icon.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/mildrobe.rsi/broken.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/mildrobe.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/VendingMachines/mildrobe.rsi/normal-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/mildrobe.rsi/off.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/mildrobe.rsi/panel.png
  Resources/Textures/_Null/Companies/armadanexiles.png
  Resources/Textures/_Null/Companies/gasnewgalactic.png
  Resources/Textures/_Null/Companies/unionj.png
Labels: S: Untriaged, size/L, Sprites, UI, C#, YML, FTL

#18 PGI3K Mining Blaster, Tunings, New Ship
  Content.Server/Audio/Jukebox/JukeboxSystem.cs
  Content.Server/Gatherable/Components/GatheringProjectileComponent.cs
  Content.Server/Gatherable/GatherableSystem.Projectile.cs
  Content.Server/Shuttles/Systems/GridCleanupSystem.cs
  Content.Server/_Mono/Ships/Systems/FtlIffSystem.cs
  Content.Shared/_Mono/Ships/Components/TemporaryFtlIffStorageComponent.cs
  Resources/Locale/en-US/_NF/cartridge-loader/cartridges.ftl
  Resources/Locale/en-US/_Null/tiles.ftl
  Resources/Maps/_Mono/Shuttles/Expedition/duran.yml
  Resources/Maps/_Null/Shuttles/Expedition/crapbucket.yml
  Resources/Prototypes/Catalog/Cargo/cargo_shuttle.yml
  Resources/Prototypes/Catalog/Fills/Crates/shuttle.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/tables_loot.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/cannons.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Structures/Shuttles/cannons.yml
  Resources/Prototypes/Recipes/Lathes/Packs/tiles.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Recipes/Lathes/tiles.yml
  Resources/Prototypes/Tiles/floors.yml
  Resources/Prototypes/_Mono/Entities/Objects/Devices/flatpack.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Energy/projectiles.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_mercenaries.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_syndicate.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/flatpackvend.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_supply.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/flatpacks.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/salvage.yml
  Resources/Prototypes/_Null/Entities/Objects/Devices/flatpack.yml
  Resources/Prototypes/_Null/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/_Null/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/_Null/Entities/ShipWeapons/Projectiles/energy.yml
  Resources/Prototypes/_Null/Entities/ShipWeapons/SpaceArtillery/launcher.yml
  Resources/Prototypes/_Null/Recipes/Crafting/Graphs/tiles.yml
  Resources/Prototypes/_Null/Shipyard/Expedition/crapbucket.yml
  Resources/Prototypes/_Null/Shipyard/Expedition/judiciary.yml
  Resources/Prototypes/_Null/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/_Null/Tiles/floors.yml
  Resources/Textures/Objects/Devices/flatpack.rsi/gun-part.png
  Resources/Textures/Objects/Devices/flatpack.rsi/meta.json
  Resources/Textures/Objects/Tiles/tile.rsi/meta.json
  Resources/Textures/Objects/Tiles/tile.rsi/wood-parquet.png
  Resources/Textures/_Null/Objects/ShipWeapons/pgi3k.rsi/meta.json
  Resources/Textures/_Null/Objects/ShipWeapons/pgi3k.rsi/mining_gun.png
  Resources/Textures/_Null/Tiles/meta.json
  Resources/Textures/_Null/Tiles/wood_parquet.png
  Resources/mapping_actions.yml
Labels: S: Untriaged, size/L, Sprites, C#, YML, FTL

#20 Tackling to do's
  Resources/Maps/_Mono/Shuttles/Expedition/duran.yml
  Resources/Maps/_NF/POI/edison.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/biogen.yml
  Resources/Prototypes/_NF/Recipes/Lathes/biogen.yml
  Resources/Prototypes/_NF/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/_Null/Shipyard/mclass.yml
Labels: S: Untriaged, Map-POI, YML, No C#, size/M

#19 Introducing the Bison
  Resources/Maps/_Mono/Shuttles/bison.yml
  Resources/Prototypes/_Null/Shipyard/bison.yml
Labels: S: Untriaged, size/L, YML, No C#

#25 Remap of previous PR
  Resources/Maps/_Null/Shuttles/grisial.yml
  Resources/Maps/_Null/Shuttles/montressor.yml
  Resources/Prototypes/Entities/Objects/Misc/kudzu.yml
  Resources/Prototypes/_Null/Shipyard/Scrap/montressor.yml
  Resources/Prototypes/_Null/Shipyard/grisial.yml
Labels: S: Untriaged, YML, No C#

#23 Torque, Camper, Nullith
  Resources/Maps/_Null/Shuttles/Expedition/torque.yml
  Resources/Maps/_Null/Shuttles/camper.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Kinetic/projectiles.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Missile/projectiles.yml
  Resources/Prototypes/_Null/Entities/Markers/Spawners/Random/nullith.yml
  Resources/Prototypes/_Null/Entities/Structures/nullith.yml
  Resources/Prototypes/_Null/Shipyard/Expedition/torque.yml
  Resources/Prototypes/_Null/Shipyard/camper.yml
  Resources/Textures/Structures/Walls/reinforced_diagonal.rsi/meta.json
  Resources/Textures/Structures/Walls/reinforced_diagonal.rsi/state1.png
  Resources/Textures/Structures/Walls/reinforced_diagonal.rsi/state2.png
  Resources/Textures/Structures/Walls/reinforced_diagonal.rsi/state3.png
  Resources/Textures/Structures/Walls/reinforced_diagonal.rsi/state4.png
  Resources/Textures/_Mono/Objects/SpaceArtillery/150_shell.rsi/150-shell.png
  Resources/Textures/_Mono/Objects/SpaceArtillery/150_shell.rsi/meta.json
  Resources/Textures/_Mono/Objects/SpaceArtillery/57_shell.rsi/base-projectile.png
  Resources/Textures/_Mono/Objects/SpaceArtillery/57_shell.rsi/base-spent.png
  Resources/Textures/_Mono/Objects/SpaceArtillery/57_shell.rsi/base.png
  Resources/Textures/_Mono/Objects/SpaceArtillery/57_shell.rsi/meta.json
  Resources/Textures/_Mono/Objects/SpaceArtillery/hybrid_missile.rsi/hybrid-missile.png
  Resources/Textures/_Mono/Objects/SpaceArtillery/hybrid_missile.rsi/meta.json
  Resources/Textures/_Mono/Objects/SpaceArtillery/mini_rocket.rsi/meta.json
  Resources/Textures/_Mono/Objects/SpaceArtillery/mini_rocket.rsi/mini-rocket.png
  Resources/Textures/_Null/Objects/Fun/nullith.rsi/NGC.png
  Resources/Textures/_Null/Objects/Fun/nullith.rsi/armadith.png
  Resources/Textures/_Null/Objects/Fun/nullith.rsi/cube.png
  Resources/Textures/_Null/Objects/Fun/nullith.rsi/meta.json
  Resources/Textures/_Null/Objects/Fun/nullith.rsi/nullith.png
  Resources/Textures/_Null/Structures/ShuttleComponents/drive.rsi/control.png
Labels: S: Untriaged, size/XL, Sprites, YML, No C#

#27 20250529 : Robust, Torque, POI, Mapping
  Content.Client/Shuttles/UI/ShuttleMapControl.xaml.cs
  Content.Server/_Mono/FireControl/FireControlSystem.cs
  Resources/Maps/_Null/POI/mysterious.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/_Mono/Entities/Objects/base_contraband.yml
  Resources/Prototypes/_Null/Entities/Structures/nullith.yml
  Resources/Prototypes/_Null/PointsOfInterest/mysterious.yml
  Resources/Prototypes/_Null/Shipyard/Expedition/torque.yml
  Resources/Textures/Structures/Walls/reinforced_diagonal.rsi/state3.png
  Resources/mapping_actions.yml
Labels: S: Untriaged, size/L, Sprites, UI, C#, YML
