Repository LukeZurg22/Nullsector, pull requests merged in 2025-06, with the labels that each got.

#34 File location changes:
  Resources/Locale/en-US/_Null/guidebook/guides.ftl
  Resources/Maps/_Null/Shuttles/iapetus.yml
  Resources/Prototypes/_Null/Guidebook/shipyard.yml
  Resources/Prototypes/_Null/Shipyard/iapetus.yml
  Resources/ServerInfo/_Null/Guidebook/Shipyard/Iapetus.xml
Labels: S: Untriaged, Docs, YML, No C#, FTL

#36 20250604 - Hotfix
  Resources/Maps/_NF/POI/bahama.yml
  Resources/Maps/_NF/POI/tinnia.yml
  Resources/Textures/Structures/Walls/mining_diagonal.rsi/state0.png
  Resources/Textures/Structures/Walls/mining_diagonal.rsi/state1.png
  Resources/Textures/Structures/Walls/plastitanium_diagonal.rsi/state0.png
  Resources/Textures/Structures/Walls/plastitanium_diagonal.rsi/state1.png
  Resources/null_migration.yml
Labels: Map-POI, Sprites, YML, No C#, size/S

#42 Camper Fix & Tweaks
  Resources/Maps/_Null/Shuttles/camper.yml
Labels: S: Untriaged, YML, No C#, size/M

#39 Thumpback Tweaks
  Resources/Maps/_Null/Shuttles/thumpback.yml
  Resources/Prototypes/_Null/Shipyard/thumpback.yml
Labels: YML, No C#, size/S

#44 CC headset retexture (white)
  Resources/Textures/Clothing/Ears/Headsets/centcom.rsi/alt-equipped-EARS.png
  Resources/Textures/Clothing/Ears/Headsets/centcom.rsi/equipped-EARS.png
  Resources/Textures/Clothing/Ears/Headsets/centcom.rsi/icon.png
  Resources/Textures/Clothing/Ears/Headsets/centcom.rsi/icon_alt.png
Labels: S: Untriaged, size/XS, Sprites, No C#

#43 Clemency Fix & Migration
  Resources/Maps/_Null/Shuttles/clemency.yml
  Resources/Prototypes/_Null/Shipyard/clemency.yml
Labels: S: Untriaged, YML, No C#, size/M

#41 Introducing the Insight; A medium size xenoarchaeology ship
  Resources/Locale/en-US/_Null/guidebook/guides.ftl
  Resources/Maps/_Null/Shuttles/insight.yml
  Resources/Prototypes/_Null/Guidebook/shipyard.yml
  Resources/Prototypes/_Null/Shipyard/insight.yml
  Resources/ServerInfo/_Null/Guidebook/Shipyard/Insight.xml
Labels: S: Untriaged, size/XL, Docs, YML, No C#, FTL

#45 20250606 : Fixes, Rings, Summary Webhook, Blips
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Client/_Mono/FireControl/UI/FireControlNavControl.cs
  Content.Client/_NF/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Client/_Null/DrawingHandleExtensions.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/Theta/ShipEvent/Systems/CircularShieldRadarSystem.cs
  Content.Server/_NF/Radar/RadarBlipComponent.cs
  Content.Shared/CCVar/CCVars.Chat.Ooc.cs
  Content.Shared/_NF/Radar/RadarMessages.cs
  Content.Shared/_Null/CCVar/NullCCVars.cs
  Content.Shared/_Null/Systems/UserToggleRoundUsername.cs
  Resources/Maps/_Mono/Outpost/frontier.yml
  Resources/Maps/_Mono/ShuttleEvent/razor.yml
  Resources/Maps/_Mono/ShuttleEvent/zenith.yml
  Resources/Maps/_Mono/Shuttles/BlackMarket/exocron.yml
  Resources/Maps/_Mono/Shuttles/BlackMarket/kessler.yml
  Resources/Maps/_Mono/Shuttles/BlackMarket/mercury.yml
  Resources/Maps/_Mono/Shuttles/Expedition/archon.yml
  Resources/Maps/_Mono/Shuttles/Expedition/judiciary.yml
  Resources/Maps/_Mono/Shuttles/Expedition/littora.yml
  Resources/Maps/_Mono/Shuttles/Expedition/picses.yml
  Resources/Maps/_Mono/Shuttles/Expedition/praetorian_expd.yml
  Resources/Maps/_Mono/Shuttles/Nfsd/anura.yml
  Resources/Maps/_Mono/Shuttles/Nfsd/calypso.yml
  Resources/Maps/_Mono/Shuttles/Nfsd/dart.yml
  Resources/Maps/_Mono/Shuttles/Nfsd/mayhem.yml
  Resources/Maps/_Mono/Shuttles/Service/arachnid.yml
  Resources/Maps/_Mono/Shuttles/praetorian.yml
  Resources/Maps/_Mono/Shuttles/tzipora.yml
  Resources/Maps/_Mono/Test/dev_map.yml
  Resources/Maps/_Null/Outpost/lark.yml
  Resources/Maps/_Null/Shuttles/Expedition/crapbucket.yml
  Resources/Maps/_Null/Test/dev_map.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/tables_loot.yml
Labels: S: Untriaged, UI, C#, YML

#49 Dev Station Fix & Tweaks
  Resources/Maps/_Null/Test/dev_map.yml
Labels: S: Untriaged, YML, No C#, size/M

#48 Rockhopper Shuttle Addition
  Resources/Maps/_Null/Shuttles/rockhopper.yml
  Resources/Prototypes/_Null/Shipyard/rockhopper.yml
Labels: size/L, YML, No C#

#52 Migration to new directories
  Resources/Maps/_Null/Shuttles/Salvage/rockhopper.yml
  Resources/Prototypes/_Null/Shipyard/Salvage/rockhopper.yml
Labels: S: Untriaged, YML, No C#, size/S

#53 Hidden Doors and More! [fix]
  Resources/Textures/Structures/Doors/secret_door.rsi/assembly.png
  Resources/Textures/Structures/Doors/secret_door.rsi/closed.png
  Resources/Textures/Structures/Doors/secret_door.rsi/closing.png
  Resources/Textures/Structures/Doors/secret_door.rsi/meta.json
  Resources/Textures/Structures/Doors/secret_door.rsi/open.png
  Resources/Textures/Structures/Doors/secret_door.rsi/opening.png
  Resources/Textures/Structures/Walls/shuttle.rsi/full.png
  Resources/Textures/_NF/Structures/Doors/secret_door_reinforced.rsi/assembly.png
  Resources/Textures/_NF/Structures/Doors/secret_door_reinforced.rsi/closed.png
  Resources/Textures/_NF/Structures/Doors/secret_door_reinforced.rsi/closing.png
  Resources/Textures/_NF/Structures/Doors/secret_door_reinforced.rsi/meta.json
  Resources/Textures/_NF/Structures/Doors/secret_door_reinforced.rsi/open.png
  Resources/Textures/_NF/Structures/Doors/secret_door_reinforced.rsi/opening.png
  Resources/Textures/_NF/Structures/Doors/secret_door_shuttle.rsi/assembly.png
  Resources/Textures/_NF/Structures/Doors/secret_door_shuttle.rsi/closed.png
  Resources/Textures/_NF/Structures/Doors/secret_door_shuttle.rsi/closing.png
  Resources/Textures/_NF/Structures/Doors/secret_door_shuttle.rsi/meta.json
  Resources/Textures/_NF/Structures/Doors/secret_door_shuttle.rsi/open.png
  Resources/Textures/_NF/Structures/Doors/secret_door_shuttle.rsi/opening.png
  Resources/Textures/_NF/Structures/Walls/reinforced_diagonal.rsi/meta.json
  Resources/Textures/_NF/Structures/Walls/reinforced_diagonal.rsi/state0.png
  Resources/Textures/_NF/Structures/Walls/reinforced_diagonal.rsi/state1.png
  Resources/Textures/_NF/Structures/Walls/reinforced_diagonal.rsi/state2.png
  Resources/Textures/_NF/Structures/Walls/reinforced_diagonal.rsi/state3.png
  Resources/Textures/_NF/Structures/Walls/reinforced_diagonal.rsi/state4.png
Labels: S: Untriaged, Sprites, No C#, size/M

#51 Introduction of the Nourishment. A Medium restaurant ship
  Resources/Locale/en-US/_Null/guidebook/guides.ftl
  Resources/Maps/_Null/Shuttles/Civilian/nourishment.yml
  Resources/Prototypes/_Null/Guidebook/shipyard.yml
  Resources/Prototypes/_Null/Shipyard/Civilian/nourishment.yml
  Resources/ServerInfo/_Null/Guidebook/Shipyard/Nourishment.xml
Labels: size/XL, Docs, YML, No C#, FTL

#54 Minor Insight Fixes
  Resources/Maps/_Null/Shuttles/Research/insight.yml
Labels: S: Untriaged, YML, No C#, size/S

#55 Fixes errors from invalid yaml entries
  Resources/Maps/_Mono/Shuttles/bison.yml
  Resources/Maps/_Mono/Shuttles/coldcap.yml
  Resources/Maps/_Mono/Shuttles/donkhaus.yml
  Resources/Maps/_Mono/Shuttles/gudinov.yml
  Resources/Maps/_Mono/Shuttles/penman.yml
  Resources/Maps/_Null/Shuttles/Civilian/camper.yml
  Resources/Maps/_Null/Shuttles/Civilian/grisial.yml
  Resources/Maps/_Null/Shuttles/Expedition/crapbucket.yml
  Resources/Maps/_Null/Shuttles/Expedition/foxhunt.yml
  Resources/Maps/_Null/Shuttles/Expedition/torque.yml
  Resources/Maps/_Null/Shuttles/Military/judiciary.yml
  Resources/Maps/_Null/Shuttles/Salvage/thumpback.yml
  Resources/Maps/_Null/Shuttles/Scrap/montressor.yml
Labels: S: Untriaged, YML, No C#, size/M

#60 Mary's Feedback Changes
  Resources/Maps/_Mono/Shuttles/donkhaus.yml
  Resources/Maps/_Null/Shuttles/Medical/clemency.yml
  Resources/Maps/_Null/Shuttles/Medical/miriam.yml
  Resources/Maps/_Null/Shuttles/Salvage/orit.yml
Labels: YML, No C#

#58 Lark Cameras & Tweaks
  Resources/Maps/_Null/Outpost/lark.yml
Labels: S: Untriaged, YML, No C#, size/M

#57 Nourishment Adjustments
  Resources/Maps/_Null/Shuttles/Civilian/nourishment.yml
Labels: S: Untriaged, YML, No C#, size/M

#59 Out of Gas at Kemak
  Resources/Maps/_Null/POI/medical.yml
Labels: S: Untriaged, YML, No C#, size/S

#62 Nourishment: FLT Removal
  Resources/Prototypes/_Null/Shipyard/Civilian/nourishment.yml
Labels: S: Untriaged, YML, No C#

#65 20250613 : Emergency Debug Push, Tunings
  Content.Server/Database/ServerDbBase.cs
  Content.Server/Shuttles/Systems/GridDeletionContainerSystem.cs
  Content.Server/_Null/DiscordWebhookHandler.cs
  Resources/Prototypes/_Null/Shipyard/Civilian/nourishment.yml
Labels: S: Untriaged, C#, YML

#69 Replaced Kemak Industrial Reagent Grinder w. Regular
  Resources/Maps/_Null/POI/medical.yml
Labels: S: Untriaged, YML, No C#, size/S

#71 The Helio: A Solar Powered Transport Shuttle
  Resources/Locale/en-US/_Null/guidebook/guides.ftl
  Resources/Maps/_Null/Shuttles/Civilian/helio.yml
  Resources/Prototypes/_Null/Guidebook/shipyard.yml
  Resources/Prototypes/_Null/Shipyard/Civilian/helio.yml
  Resources/ServerInfo/_Null/Guidebook/Shipyard/Helio.xml
Labels: S: Untriaged, size/L, Docs, YML, No C#, FTL
